<h1>
    <a (click)="getSurveys()">Gérez vos questionnaires !</a>
  </h1>

  <div class="row">
      <div class="col-sm-12" id="btn1">
        <button type="button" class="btn btn-info" (click)="open()">Créer un nouveau questionnaire</button>
      </div>
    </div>

    <hr>
<div class="row">
  <div class="col-sm-12">
    <h4>Sélectionnez un questionnaire:</h4>
    <a class="a1" *ngFor="let elemlist of surveys | async">
      <button (click)="open(elemlist)" id="btn2">{{elemlist.surveyName}} ({{elemlist.options.length}})</button>
      <a class="glyphicon glyphicon-trash" (click)="delete(elemlist)"></a>
    </a>
  </div>
</div>
