<div class="modal-header">
  <h4>{{title}}</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <!--activeModal vient de NgbModule / cf ng-bootstrap-->
    <span aria-hidden="true">&times;</span>
    <!--fabrication de la petite croix et sa fonction pour fermer le modal -->
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="listForm" (ngSubmit)="onSubmit(typeBouton)" novalidate>

          <!-- Nom de la liste -->
          <div class="form-group">
            <div class="card-header">
              <label class="center-block">Nom de la liste:
                <input type="text" id="focusMe" class="input" [(ngModel)]="list.listName" [ngModelOptions]="{standalone: true}">
                <!--id="focus"-->
              </label>
            </div>
          </div>
          <div>
            <div class="card-content">
              <div *ngFor="let elem of list.options; let i=index">
                <h5>Option {{i + 1}} :</h5>
                <div style="margin-left: 1em;">
                  <div class="form-group">
                    <label class="center-block">clé:
                      <input class="input"  [(ngModel)]="elem.key" required [ngModelOptions]="{standalone: true}">
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="center-block">nom de l'option:
                      <input class="input" [(ngModel)]="elem.optionName" required [ngModelOptions]="{standalone: true}">
                    </label>
                  </div>
                </div>
              </div>
              <hr>
              <button (click)="addOption()" type="button" id="btn2" class="btn btn-outline-info">Ajouter une option</button>

            </div>
          </div>

          <!-- Pour ajout d'option-->
          <div *ngIf="selectedAddOption">
            <h4>SelectedAddOption est TRUE !</h4>
            Affiche Empty option : {{emptyOption | json}}
            <div>
              <h5>Option # </h5>
              <div style="margin-left: 1em;">
                <div class="form-group">
                  <label class="center-block">clé:
                    <input class="" [(ngModel)]="emptyOption.key" required [ngModelOptions]="{standalone: true}">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">nom de l'option:
                    <input class="" [(ngModel)]="emptyOption.optionName" required [ngModelOptions]="{standalone: true}">
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer" style="margin-bottom: 1em">
            <button id="btn1" type="submit" [disabled]="listForm.invalid" class="btn btn-success">Sauvegarder</button>
            <button id="btn1" type="reset" (click)="revert()" [disabled]="listForm.invalid" class="btn btn-danger">Effacer</button>
            <button type="return" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Close click')">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
</div>